In [1]:
#创建csv文件
import csv
fp=open('ch4x1.csv','w',newline='')
writer=csv.writer(fp)
writer.writerow(('id','name','grade'))
writer.writerow(('1','lucky','87'))
writer.writerow(('2','peter','92'))
writer.writerow(('3','lili','92'))
fp.close()

In [6]:
!cat ch4x1.csv

# 文件读取两种方法：
read_csv()
read_table()

In [5]:
import pandas as pd
df=pd.read_csv('/home/ysc/数据分析/ch4x1.csv')
df

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     92

In [9]:
import pandas as pd
df=pd.read_table("/home/ysc/数据分析/ch4x1.csv",sep=',') #sep:指定分隔符
df

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     92

In [10]:
df=pd.read_csv("/home/ysc/数据分析/ch4x1.csv",index_col='id')
df

     name  grade
id
1   lucky     87
2   peter     92
3    lili     92

In [15]:
!cat /home/ysc/数据分析/data/第四讲/data/ch4ex2.csv

In [14]:
#指定多列作层次化索引
df=pd.read_csv("/home/ysc/数据分析/data/第四讲/data/ch4ex2.csv",index_col=[0,'id'])
df

            name  grade
school id
a      1   lucky     87
       2   peter     92
       3    lili     85
b      1    coco     78
       2   kevin     87
       3   heven     96

# 标题行的设定
1，header设置为默认
2，names参数指定列名

In [17]:
df=pd.read_csv("/home/ysc/数据分析/data/第四讲/data/ch4ex3.csv",names=['id','name','grade'])
df

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

In [26]:
#使用nrows参数，选取部分行数据
df=pd.read_csv("/home/ysc/数据分析/data/第四讲/data/titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [27]:
from pandas import Series
import pandas as pd
chunker=pd.read_csv("/home/ysc/数据分析/data/第四讲/data/titanic.csv",chunksize=100)
sex=Series([])
for i in chunker:
    sex=sex.add(i['Sex'].value_counts(),fill_value=0)
sex

male      577.0
female    314.0
dtype: float64

In [24]:
#使用usecols进行部分列的选取:选取生还者和性别列
df=pd.read_csv("/home/ysc/数据分析/data/第四讲/data/titanic.csv",
               nrows=10,usecols=['Survived','Sex'])
df

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male
5         0    male
6         0    male
7         0    male
8         1  female
9         1  female

# txt文件的读取

In [28]:
fp=open("/home/ysc/数据分析/data/第四讲/data/ch4ex6.csv","a+")
fp.writelines('id? name? grade'+'\n')
fp.writelines('1? lucky? 87'+'\n')
fp.writelines('2? peter? 92'+'\n')
fp.writelines('3? lili? 85'+'\n')
fp.close()

In [30]:
import pandas as pd
df=pd.read_table("/home/ysc/数据分析/data/第四讲/data/ch4ex6.csv",sep='?')
df

   id    name   grade
0   1   lucky      87
1   2   peter      92
2   3    lili      85

In [31]:
#文本存储
df.to_csv("/home/ysc/数据分析/data/第四讲/data/ch4ex6_out.csv",index=False)

# 4.2 json和excel数据的读取与存储

In [34]:
!cat /home/ysc/数据分析/data/第四讲/data/eueo2012.json

{"Team":{"0":"Croatia","1":"Czech Republic","2":"Denmark","3":"England","4":"France","5":"Germany","6":"Greece","7":"Italy","8":"Netherlands","9":"Poland","10":"Portugal","11":"Republic of Ireland","12":"Russia","13":"Spain","14":"Sweden","15":"Ukraine"},"Goals":{"0":4,"1":4,"2":4,"3":5,"4":3,"5":10,"6":5,"7":6,"8":2,"9":2,"10":6,"11":1,"12":5,"13":12,"14":5,"15":2},"Shots on target":{"0":13,"1":13,"2":10,"3":11,"4":22,"5":32,"6":8,"7":34,"8":12,"9":15,"10":22,"11":7,"12":9,"13":42,"14":17,"15":7},"Shots off target":{"0":12,"1":18,"2":10,"3":18,"4":24,"5":32,"6":18,"7":45,"8":36,"9":23,"10":42,"11":12,"12":31,"13":33,"14":19,"15":26},"Shooting Accuracy":{"0":"51.9%","1":"41.9%","2":"50.0%","3":"50.0%","4":"37.9%","5":"47.8%","6":"30.7%","7":"43.0%","8":"25.0%","9":"39.4%","10":"34.3%","11":"36.8%","12":"22.5%","13":"55.9%","14":"47.2%","15":"21.2%"},"% Goals-to-shots":{"0":"16.0%","1":"12.9%","2":"20.0%","3":"17.2%","4":"6.5%","5":"15.6%","6":"19.2%","7":"7.5%","8":"4.1%","9":"5.2%","10":"9.3%","11":"5.2%","12":"12.5%","13":"16.0%","14":"13.8%","15":"6.0%"},"Total shots (inc. Blocked)":{"0":32,"1":39,"2":27,"3":40,"4":65,"5":80,"6":32,"7":110,"8":60,"9":48,"10":82,"11":28,"12":59,"13":100,"14":39,"15":38},"Hit Woodwork":{"0":0,"1":0,"2":1,"3":0,"4":1,"5":2,"6":1,"7":2,"8":2,"9":0,"10":6,"11":0,"12":2,"13":0,"14":3,"15":0},"Penalty goals":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":1,"6":1,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":1,"14":0,"15":0},"Penalties not scored":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":1,"7":0,"8":0,"9":0,"10":0,"11":0,"12":0,"13":0,"14":0,"15":0},"Headed goals":{"0":2,"1":0,"2":3,"3":3,"4":0,"5":2,"6":0,"7":2,"8":0,"9":1,"10":2,"11":1,"12":1,"13":2,"14":1,"15":2},"Passes":{"0":1076,"1":1565,"2":1298,"3":1488,"4":2066,"5":2774,"6":1187,"7":3016,"8":1556,"9":1059,"10":1891,"11":851,"12":1602,"13":4317,"14":1192,"15":1276},"Passes completed":{"0":828,"1":1223,"2":1082,"3":1200,"4":1803,"5":2427,"6":911,"7":2531,"8":1381,"9":852,"10":1461,"11":606,"12":1345,"13":3820,"14":965,"15":1043},"Passing Accuracy":{"0":"76.9%","1":"78.1%","2":"83.3%","3":"80.6%","4":"87.2%","5":"87.4%","6":"76.7%","7":"83.9%","8":"88.7%","9":"80.4%","10":"77.2%","11":"71.2%","12":"83.9%","13":"88.4%","14":"80.9%","15":"81.7%"},"Touches":{"0":1706,"1":2358,"2":1873,"3":2440,"4":2909,"5":3761,"6":2016,"7":4363,"8":2163,"9":1724,"10":2958,"11":1433,"12":2278,"13":5585,"14":1806,"15":1894},"Crosses":{"0":60,"1":46,"2":43,"3":58,"4":55,"5":101,"6":52,"7":75,"8":50,"9":55,"10":91,"11":43,"12":40,"13":69,"14":44,"15":33},"Dribbles":{"0":42,"1":68,"2":32,"3":60,"4":76,"5":60,"6":53,"7":75,"8":49,"9":39,"10":64,"11":18,"12":40,"13":106,"14":29,"15":26},"Corners Taken":{"0":14,"1":21,"2":16,"3":16,"4":28,"5":35,"6":10,"7":30,"8":22,"9":14,"10":41,"11":8,"12":21,"13":44,"14":7,"15":18},"Tackles":{"0":49,"1":62,"2":40,"3":86,"4":71,"5":91,"6":65,"7":98,"8":34,"9":67,"10":78,"11":45,"12":65,"13":122,"14":56,"15":65},"Clearances":{"0":83,"1":98,"2":61,"3":106,"4":76,"5":73,"6":123,"7":137,"8":41,"9":87,"10":92,"11":78,"12":74,"13":102,"14":54,"15":97},"Interceptions":{"0":56,"1":37,"2":59,"3":72,"4":58,"5":69,"6":87,"7":136,"8":41,"9":62,"10":86,"11":43,"12":58,"13":79,"14":45,"15":29},"Clearances off line":{"0":null,"1":2.0,"2":0.0,"3":1.0,"4":0.0,"5":0.0,"6":0.0,"7":1.0,"8":0.0,"9":0.0,"10":0.0,"11":1.0,"12":0.0,"13":0.0,"14":0.0,"15":0.0},"Clean Sheets":{"0":0,"1":1,"2":1,"3":2,"4":1,"5":1,"6":1,"7":2,"8":0,"9":0,"10":2,"11":0,"12":0,"13":5,"14":1,"15":0},"Blocks":{"0":10,"1":10,"2":10,"3":29,"4":7,"5":11,"6":23,"7":18,"8":9,"9":8,"10":11,"11":23,"12":8,"13":8,"14":12,"15":4},"Goals conceded":{"0":3,"1":6,"2":5,"3":3,"4":5,"5":6,"6":7,"7":7,"8":5,"9":3,"10":4,"11":9,"12":3,"13":1,"14":5,"15":4},"Saves made":{"0":13,"1":9,"2":10,"3":22,"4":6,"5":10,"6":13,"7":20,"8":12,"9":6,"10":10,"11":17,"12":10,"13":15,"14":8,"15":13},"Saves-to-shots ratio":{"0":"81.3%","1":"60.1%","2":"66.7%","3":"88.1%","4":"54.6%","5":"62.6%","6":"65.1%","7":"74.1%","8":"70.6%","9":"66.7%","10":"71.5%","11":"65.4%","12":"77.0%","13":"93.8%","14":"61.6%","15":"76.5%"},"Fouls Won":{"0":41,"1":53,"2":25,"3":43,"4":36,"5":63,"6":67,"7":101,"8":35,"9":48,"10":73,"11":43,"12":34,"13":102,"14":35,"15":48},"Fouls Conceded":{"0":62,"1":73,"2":38,"3":45,"4":51,"5":49,"6":48,"7":89,"8":30,"9":56,"10":90,"11":51,"12":43,"13":83,"14":51,"15":31},"Offsides":{"0":2,"1":8,"2":8,"3":6,"4":5,"5":12,"6":12,"7":16,"8":3,"9":3,"10":10,"11":11,"12":4,"13":19,"14":7,"15":4},"Yellow Cards":{"0":9,"1":7,"2":4,"3":5,"4":6,"5":4,"6":9,"7":16,"8":5,"9":7,"10":12,"11":6,"12":6,"13":11,"14":7,"15":5},"Red Cards":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":1,"7":0,"8":0,"9":1,"10":0,"11":1,"12":0,"13":0,"14":0,"15":0},"Subs on":{"0":9,"1":11,"2":7,"3":11,"4":11,"5":15,"6":12,"7":18,"8":7,"9":7,"10":14,"11":10,"12":7,"13":17,"14":9,"15":9},"Subs off":{"0":9,"1":11,"2":7,"3":11,"4":11,"5":15,"6":12,"7":18,"8":7,"9":7,"10":14,"11":10,"12":7,"13":17,"14":9,"15":9},"Players Used":{"0":16,"1":19,"2":15,"3":16,"4":19,"5":17,"6":20,"7":19,"8":15,"9":17,"10":16,"11":17,"12":16,"13":18,"14":18,"15":18}}

In [36]:
#将json数据转化为字符串格式
import json
f=open("/home/ysc/数据分析/data/第四讲/data/eueo2012.json")
obj=f.read()
result=json.loads(obj)
result

{'% Goals-to-shots': {'0': '16.0%',
  '1': '12.9%',
  '10': '9.3%',
  '11': '5.2%',
  '12': '12.5%',
  '13': '16.0%',
  '14': '13.8%',
  '15': '6.0%',
  '2': '20.0%',
  '3': '17.2%',
  '4': '6.5%',
  '5': '15.6%',
  '6': '19.2%',
  '7': '7.5%',
  '8': '4.1%',
  '9': '5.2%'},
 'Blocks': {'0': 10,
  '1': 10,
  '10': 11,
  '11': 23,
  '12': 8,
  '13': 8,
  '14': 12,
  '15': 4,
  '2': 10,
  '3': 29,
  '4': 7,
  '5': 11,
  '6': 23,
  '7': 18,
  '8': 9,
  '9': 8},
 'Clean Sheets': {'0': 0,
  '1': 1,
  '10': 2,
  '11': 0,
  '12': 0,
  '13': 5,
  '14': 1,
  '15': 0,
  '2': 1,
  '3': 2,
  '4': 1,
  '5': 1,
  '6': 1,
  '7': 2,
  '8': 0,
  '9': 0},
 'Clearances': {'0': 83,
  '1': 98,
  '10': 92,
  '11': 78,
  '12': 74,
  '13': 102,
  '14': 54,
  '15': 97,
  '2': 61,
  '3': 106,
  '4': 76,
  '5': 73,
  '6': 123,
  '7': 137,
  '8': 41,
  '9': 87},
 'Clearances off line': {'0': None,
  '1': 2.0,
  '10': 0.0,
  '11': 1.0,
  '12': 0.0,
  '13': 0.0,
  '14': 0.0,
  '15': 0.0,
  '2': 0.0,
  '3': 1.0,
  '4': 0.0,
  '5': 0.0,
  '6': 0.0,
  '7': 1.0,
  '8': 0.0,
  '9': 0.0},
 'Corners Taken': {'0': 14,
  '1': 21,
  '10': 41,
  '11': 8,
  '12': 21,
  '13': 44,
  '14': 7,
  '15': 18,
  '2': 16,
  '3': 16,
  '4': 28,
  '5': 35,
  '6': 10,
  '7': 30,
  '8': 22,
  '9': 14},
 'Crosses': {'0': 60,
  '1': 46,
  '10': 91,
  '11': 43,
  '12': 40,
  '13': 69,
  '14': 44,
  '15': 33,
  '2': 43,
  '3': 58,
  '4': 55,
  '5': 101,
  '6': 52,
  '7': 75,
  '8': 50,
  '9': 55},
 'Dribbles': {'0': 42,
  '1': 68,
  '10': 64,
  '11': 18,
  '12': 40,
  '13': 106,
  '14': 29,
  '15': 26,
  '2': 32,
  '3': 60,
  '4': 76,
  '5': 60,
  '6': 53,
  '7': 75,
  '8': 49,
  '9': 39},
 'Fouls Conceded': {'0': 62,
  '1': 73,
  '10': 90,
  '11': 51,
  '12': 43,
  '13': 83,
  '14': 51,
  '15': 31,
  '2': 38,
  '3': 45,
  '4': 51,
  '5': 49,
  '6': 48,
  '7': 89,
  '8': 30,
  '9': 56},
 'Fouls Won': {'0': 41,
  '1': 53,
  '10': 73,
  '11': 43,
  '12': 34,
  '13': 102,
  '14': 35,
  '15': 48,
  '2': 25,
  '3': 43,
  '4': 36,
  '5': 63,
  '6': 67,
  '7': 101,
  '8': 35,
  '9': 48},
 'Goals': {'0': 4,
  '1': 4,
  '10': 6,
  '11': 1,
  '12': 5,
  '13': 12,
  '14': 5,
  '15': 2,
  '2': 4,
  '3': 5,
  '4': 3,
  '5': 10,
  '6': 5,
  '7': 6,
  '8': 2,
  '9': 2},
 'Goals conceded': {'0': 3,
  '1': 6,
  '10': 4,
  '11': 9,
  '12': 3,
  '13': 1,
  '14': 5,
  '15': 4,
  '2': 5,
  '3': 3,
  '4': 5,
  '5': 6,
  '6': 7,
  '7': 7,
  '8': 5,
  '9': 3},
 'Headed goals': {'0': 2,
  '1': 0,
  '10': 2,
  '11': 1,
  '12': 1,
  '13': 2,
  '14': 1,
  '15': 2,
  '2': 3,
  '3': 3,
  '4': 0,
  '5': 2,
  '6': 0,
  '7': 2,
  '8': 0,
  '9': 1},
 'Hit Woodwork': {'0': 0,
  '1': 0,
  '10': 6,
  '11': 0,
  '12': 2,
  '13': 0,
  '14': 3,
  '15': 0,
  '2': 1,
  '3': 0,
  '4': 1,
  '5': 2,
  '6': 1,
  '7': 2,
  '8': 2,
  '9': 0},
 'Interceptions': {'0': 56,
  '1': 37,
  '10': 86,
  '11': 43,
  '12': 58,
  '13': 79,
  '14': 45,
  '15': 29,
  '2': 59,
  '3': 72,
  '4': 58,
  '5': 69,
  '6': 87,
  '7': 136,
  '8': 41,
  '9': 62},
 'Offsides': {'0': 2,
  '1': 8,
  '10': 10,
  '11': 11,
  '12': 4,
  '13': 19,
  '14': 7,
  '15': 4,
  '2': 8,
  '3': 6,
  '4': 5,
  '5': 12,
  '6': 12,
  '7': 16,
  '8': 3,
  '9': 3},
 'Passes': {'0': 1076,
  '1': 1565,
  '10': 1891,
  '11': 851,
  '12': 1602,
  '13': 4317,
  '14': 1192,
  '15': 1276,
  '2': 1298,
  '3': 1488,
  '4': 2066,
  '5': 2774,
  '6': 1187,
  '7': 3016,
  '8': 1556,
  '9': 1059},
 'Passes completed': {'0': 828,
  '1': 1223,
  '10': 1461,
  '11': 606,
  '12': 1345,
  '13': 3820,
  '14': 965,
  '15': 1043,
  '2': 1082,
  '3': 1200,
  '4': 1803,
  '5': 2427,
  '6': 911,
  '7': 2531,
  '8': 1381,
  '9': 852},
 'Passing Accuracy': {'0': '76.9%',
  '1': '78.1%',
  '10': '77.2%',
  '11': '71.2%',
  '12': '83.9%',
  '13': '88.4%',
  '14': '80.9%',
  '15': '81.7%',
  '2': '83.3%',
  '3': '80.6%',
  '4': '87.2%',
  '5': '87.4%',
  '6': '76.7%',
  '7': '83.9%',
  '8': '88.7%',
  '9': '80.4%'},
 'Penalties not scored': {'0': 0,
  '1': 0,
  '10': 0,
  '11': 0,
  '12': 0,
  '13': 0,
  '14': 0,
  '15': 0,
  '2': 0,
  '3': 0,
  '4': 0,
  '5': 0,
  '6': 1,
  '7': 0,
  '8': 0,
  '9': 0},
 'Penalty goals': {'0': 0,
  '1': 0,
  '10': 0,
  '11': 0,
  '12': 0,
  '13': 1,
  '14': 0,
  '15': 0,
  '2': 0,
  '3': 0,
  '4': 0,
  '5': 1,
  '6': 1,
  '7': 0,
  '8': 0,
  '9': 0},
 'Players Used': {'0': 16,
  '1': 19,
  '10': 16,
  '11': 17,
  '12': 16,
  '13': 18,
  '14': 18,
  '15': 18,
  '2': 15,
  '3': 16,
  '4': 19,
  '5': 17,
  '6': 20,
  '7': 19,
  '8': 15,
  '9': 17},
 'Red Cards': {'0': 0,
  '1': 0,
  '10': 0,
  '11': 1,
  '12': 0,
  '13': 0,
  '14': 0,
  '15': 0,
  '2': 0,
  '3': 0,
  '4': 0,
  '5': 0,
  '6': 1,
  '7': 0,
  '8': 0,
  '9': 1},
 'Saves made': {'0': 13,
  '1': 9,
  '10': 10,
  '11': 17,
  '12': 10,
  '13': 15,
  '14': 8,
  '15': 13,
  '2': 10,
  '3': 22,
  '4': 6,
  '5': 10,
  '6': 13,
  '7': 20,
  '8': 12,
  '9': 6},
 'Saves-to-shots ratio': {'0': '81.3%',
  '1': '60.1%',
  '10': '71.5%',
  '11': '65.4%',
  '12': '77.0%',
  '13': '93.8%',
  '14': '61.6%',
  '15': '76.5%',
  '2': '66.7%',
  '3': '88.1%',
  '4': '54.6%',
  '5': '62.6%',
  '6': '65.1%',
  '7': '74.1%',
  '8': '70.6%',
  '9': '66.7%'},
 'Shooting Accuracy': {'0': '51.9%',
  '1': '41.9%',
  '10': '34.3%',
  '11': '36.8%',
  '12': '22.5%',
  '13': '55.9%',
  '14': '47.2%',
  '15': '21.2%',
  '2': '50.0%',
  '3': '50.0%',
  '4': '37.9%',
  '5': '47.8%',
  '6': '30.7%',
  '7': '43.0%',
  '8': '25.0%',
  '9': '39.4%'},
 'Shots off target': {'0': 12,
  '1': 18,
  '10': 42,
  '11': 12,
  '12': 31,
  '13': 33,
  '14': 19,
  '15': 26,
  '2': 10,
  '3': 18,
  '4': 24,
  '5': 32,
  '6': 18,
  '7': 45,
  '8': 36,
  '9': 23},
 'Shots on target': {'0': 13,
  '1': 13,
  '10': 22,
  '11': 7,
  '12': 9,
  '13': 42,
  '14': 17,
  '15': 7,
  '2': 10,
  '3': 11,
  '4': 22,
  '5': 32,
  '6': 8,
  '7': 34,
  '8': 12,
  '9': 15},
 'Subs off': {'0': 9,
  '1': 11,
  '10': 14,
  '11': 10,
  '12': 7,
  '13': 17,
  '14': 9,
  '15': 9,
  '2': 7,
  '3': 11,
  '4': 11,
  '5': 15,
  '6': 12,
  '7': 18,
  '8': 7,
  '9': 7},
 'Subs on': {'0': 9,
  '1': 11,
  '10': 14,
  '11': 10,
  '12': 7,
  '13': 17,
  '14': 9,
  '15': 9,
  '2': 7,
  '3': 11,
  '4': 11,
  '5': 15,
  '6': 12,
  '7': 18,
  '8': 7,
  '9': 7},
 'Tackles': {'0': 49,
  '1': 62,
  '10': 78,
  '11': 45,
  '12': 65,
  '13': 122,
  '14': 56,
  '15': 65,
  '2': 40,
  '3': 86,
  '4': 71,
  '5': 91,
  '6': 65,
  '7': 98,
  '8': 34,
  '9': 67},
 'Team': {'0': 'Croatia',
  '1': 'Czech Republic',
  '10': 'Portugal',
  '11': 'Republic of Ireland',
  '12': 'Russia',
  '13': 'Spain',
  '14': 'Sweden',
  '15': 'Ukraine',
  '2': 'Denmark',
  '3': 'England',
  '4': 'France',
  '5': 'Germany',
  '6': 'Greece',
  '7': 'Italy',
  '8': 'Netherlands',
  '9': 'Poland'},
 'Total shots (inc. Blocked)': {'0': 32,
  '1': 39,
  '10': 82,
  '11': 28,
  '12': 59,
  '13': 100,
  '14': 39,
  '15': 38,
  '2': 27,
  '3': 40,
  '4': 65,
  '5': 80,
  '6': 32,
  '7': 110,
  '8': 60,
  '9': 48},
 'Touches': {'0': 1706,
  '1': 2358,
  '10': 2958,
  '11': 1433,
  '12': 2278,
  '13': 5585,
  '14': 1806,
  '15': 1894,
  '2': 1873,
  '3': 2440,
  '4': 2909,
  '5': 3761,
  '6': 2016,
  '7': 4363,
  '8': 2163,
  '9': 1724},
 'Yellow Cards': {'0': 9,
  '1': 7,
  '10': 12,
  '11': 6,
  '12': 6,
  '13': 11,
  '14': 7,
  '15': 5,
  '2': 4,
  '3': 5,
  '4': 6,
  '5': 4,
  '6': 9,
  '7': 16,
  '8': 5,
  '9': 7}}

In [37]:
#将json数据转化为字符串格式--输入到DataFrame构造器
from pandas import DataFrame
df=DataFrame(result)
df

,% Goals-to-shots,Blocks,Clean Sheets,Clearances,Clearances off line,Corners Taken,Crosses,Dribbles,Fouls Conceded,Fouls Won,...,Shooting Accuracy,Shots off target,Shots on target,Subs off,Subs on,Tackles,Team,Total shots (inc. Blocked),Touches,Yellow Cards
0,16.0%,10,0,83,NaN,14,60,42,62,41,...,51.9%,12,13,9,9,49,Croatia,32,1706,9
1,12.9%,10,1,98,2.0,21,46,68,73,53,...,41.9%,18,13,11,11,62,Czech Republic,39,2358,7
10,9.3%,11,2,92,0.0,41,91,64,90,73,...,34.3%,42,22,14,14,78,Portugal,82,2958,12
11,5.2%,23,0,78,1.0,8,43,18,51,43,...,36.8%,12,7,10,10,45,Republic of Ireland,28,1433,6
12,12.5%,8,0,74,0.0,21,40,40,43,34,...,22.5%,31,9,7,7,65,Russia,59,2278,6
13,16.0%,8,5,102,0.0,44,69,106,83,102,...,55.9%,33,42,17,17,122,Spain,100,5585,11
14,13.8%,12,1,54,0.0,7,44,29,51,35,...,47.2%,19,17,9,9,56,Sweden,39,1806,7
15,6.0%,4,0,97,0.0,18,33,26,31,48,...,21.2%,26,7,9,9,65,Ukraine,38,1894,5
2,20.0%,10,1,61,0.0,16,43,32,38,25,...,50.0%,10,10,7,7,40,Denmark,27,1873,4
3,17.2%,29,2,106,1.0,16,58,60,45,43,...,50.0%,18,11,11,11,86,England,40,2440,5
4,6.5%,7,1,76,0.0,28,55,76,51,36,...,37.9%,24,22,11,11,71,France,65,2909,6
5,15.6%,11,1,73,0.0,35,101,60,49,63,...,47.8%,32,32,15,15,91,Germany,80,3761,4
6,19.2%,23,1,123,0.0,10,52,53,48,67,...,30.7%,18,8,12,12,65,Greece,32,2016,9
7,7.5%,18,2,137,1.0,30,75,75,89,101,...,43.0%,45,34,18,18,98,Italy,110,4363,16
8,4.1%,9,0,41,0.0,22,50,49,30,35,...,25.0%,36,12,7,7,34,Netherlands,60,2163,5
9,5.2%,8,0,87,0.0,14,55,39,56,48,...,39.4%,23,15,7,7,67,Poland,48,1724,7

In [41]:
#第二种方法：使用read_json函数读取
import pandas as pd
df=pd.read_json("/home/ysc/数据分析/data/第四讲/data/eueo2012.json")
df=df.sort_index()
df

,% Goals-to-shots,Blocks,Clean Sheets,Clearances,Clearances off line,Corners Taken,Crosses,Dribbles,Fouls Conceded,Fouls Won,...,Shooting Accuracy,Shots off target,Shots on target,Subs off,Subs on,Tackles,Team,Total shots (inc. Blocked),Touches,Yellow Cards
0,16.0%,10,0,83,NaN,14,60,42,62,41,...,51.9%,12,13,9,9,49,Croatia,32,1706,9
1,12.9%,10,1,98,2.0,21,46,68,73,53,...,41.9%,18,13,11,11,62,Czech Republic,39,2358,7
2,20.0%,10,1,61,0.0,16,43,32,38,25,...,50.0%,10,10,7,7,40,Denmark,27,1873,4
3,17.2%,29,2,106,1.0,16,58,60,45,43,...,50.0%,18,11,11,11,86,England,40,2440,5
4,6.5%,7,1,76,0.0,28,55,76,51,36,...,37.9%,24,22,11,11,71,France,65,2909,6
5,15.6%,11,1,73,0.0,35,101,60,49,63,...,47.8%,32,32,15,15,91,Germany,80,3761,4
6,19.2%,23,1,123,0.0,10,52,53,48,67,...,30.7%,18,8,12,12,65,Greece,32,2016,9
7,7.5%,18,2,137,1.0,30,75,75,89,101,...,43.0%,45,34,18,18,98,Italy,110,4363,16
8,4.1%,9,0,41,0.0,22,50,49,30,35,...,25.0%,36,12,7,7,34,Netherlands,60,2163,5
9,5.2%,8,0,87,0.0,14,55,39,56,48,...,39.4%,23,15,7,7,67,Poland,48,1724,7
10,9.3%,11,2,92,0.0,41,91,64,90,73,...,34.3%,42,22,14,14,78,Portugal,82,2958,12
11,5.2%,23,0,78,1.0,8,43,18,51,43,...,36.8%,12,7,10,10,45,Republic of Ireland,28,1433,6
12,12.5%,8,0,74,0.0,21,40,40,43,34,...,22.5%,31,9,7,7,65,Russia,59,2278,6
13,16.0%,8,5,102,0.0,44,69,106,83,102,...,55.9%,33,42,17,17,122,Spain,100,5585,11
14,13.8%,12,1,54,0.0,7,44,29,51,35,...,47.2%,19,17,9,9,56,Sweden,39,1806,7
15,6.0%,4,0,97,0.0,18,33,26,31,48,...,21.2%,26,7,9,9,65,Ukraine,38,1894,5

In [42]:
#数据存储
df.to_json("/home/ysc/数据分析/data/第四讲/data/eueo2012_out.json")

In [47]:
#excel数据的读取与存储
import pandas as pd
df=pd.read_excel("/home/ysc/数据分析/data/第四讲/data/ch4ex7.xlsx",sheetname='name')
df

   id   name  grade
0   1  lucky     87
1   2  peter     92
2   3   lili     85

In [49]:
df.to_excel("/home/ysc/数据分析/data/第四讲/data/ch4ex7_out.xlsx",sheet_name='out',index=None)

# 数据库的读取与存储

In [2]:
#连接数据库
import pymysql
conn=pymysql.connect(
                     host='localhost',user='root',passwd='123456',
                     db='mystudy',port=3306,charset='utf8')

In [3]:
#创建游标
cursor=conn.cursor()
#创建table表
creat='''create table ch3ex9(
       id int,
       name char(8),
       grade int
       )engine innodb default charset=utf8;'''
cursor.execute(creat)  #执行命令
conn.commit()          #完成命令

InternalError: (1050, "Table 'ch3ex9' already exists")

In [4]:
#mysql添加数据
cursor.execute("insert into ch3ex9 (id,name,grade) values(%s,%s,%s)",(1,'luchy',87))
cursor.execute("insert into ch3ex9 (id,name,grade) values(%s,%s,%s)",(2,'peter',92))
cursor.execute("insert into ch3ex9 (id,name,grade) values(%s,%s,%s)",(3,'lili',85))
conn.commit()
cursor.close()  #关闭游标

In [5]:
#读取数据库内容
import pandas as pd
df=pd.read_sql('select* from ch3ex9',conn)
df

   id   name  grade
0   1  luchy     87
1   2  peter     92
2   3   lili     85
3   1  luchy     87
4   2  peter     92
5   3   lili     85

In [7]:
df['grade']

0    87
1    92
2    85
3    87
4    92
5    85
Name: grade, dtype: int64

In [6]:
#存储数据库
df.to_sql(name='out',con='mysql+pymysql://root:123456@localhost:3306/mystudy? charset=utf8',if_exists='replace',index=False)

ImportError: Using URI string without sqlalchemy installed.

In [61]:
#web数据的读取
import pandas as pd
df=pd.read_html('http://worldcup.2014.163.com/sched-ule/')
df

[Empty DataFrame
 Columns: [股票名称, 最新价, 涨跌幅, Unnamed: 3]
 Index: []]

In [62]:
df[0]

Empty DataFrame
Columns: [股票名称, 最新价, 涨跌幅, Unnamed: 3]
Index: []